{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Docker Workshop!</h1>
    <p>Your visit <strong>#{{ counter }}</strong> was
        logged at <strong>{{ visit.time|date('Y-m-d H:i:s') }}</strong>
        from <strong>{{ visit.ip }}</strong></p>
{% endblock %}